body {
  background-color: #BCF4F5;
}

h1 {
  font-family: open sans;
  font-size: 3em;
  color:#31afa7;
  text-align: center;
}
h1:hover {
  color: #3C91E6;
}

main > div {
  border: 1px black solid;
  height: 80px;
  width: 80px;
  display: inline-block;
  border-radius: 40px;
  margin: 10px;
  box-shadow: 0px 0px 10px #5c5c5c;
}

main {
  margin: 20px;
}

#button {
  text-align: center;
}

#circleButton {
  height: 3em;
  width: 5em;
  margin: 5px;
  border: 1px solid black;
  border-radius: 35px;
  background-color: #03CEA4;
  color: black;
}
#circleButton:hover {
  background-color: #3C91E6;
  color: white;
}
